<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Domain</key>
	<string>dev-4da241uz4q5w7j11.us.auth0.com</string>
	<key>ClientId</key>
	<string>pUlVMS8sJVme5i7wAhEFCj8QrYsOwK5o</string>
</dict>
</plist>
